<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip" />
    <package id="curl" />
    <package id="git" />
    <package id="keepass" />
    <package id="nmap" />
    <package id="openssh" />
    <package id="python" />
    <package id="qemu" />
    <package id="ripgrep" />
    <package id="rustup" />
    <package id="starship" />
    <package id="sudo" />
    <package id="sysinternals" />
    <package id="vlc" />
    <package id="which" />
    <package id="winmerge" />
    <package id="winscp" />

    <!--
    <package id="anotherPackage" version="1.1" />
    <package id="chocolateytestpackage" version="0.1" source="somelocation" />
    <package id="alloptions" version="0.1.1"
            source="https://somewhere/api/v2/" installArguments=""
            packageParameters="" forceX86="false" allowMultipleVersions="false"
            ignoreDependencies="false"
            />
    -->
</packages>